# Editors
.idea/
.vscode/

# Python
.ipynb_checkpoints/
__pycache__/

# Project creation files
data/*/mceps_numpy/

# Personal test files
all_tests.ipynb
binary_io.py
data/VCC2018_corpus/
data/*/mceps/
data/*/mceps/
